.bg {
   &-login {
      background-image: url('../img/bg_login.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
   }

   &-register {
      background-image: url('../img/bg_register.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
   }

   &-error404 {
      background-image: url("../img/bg_404.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
   }

   &-color-auth {
      background-color: #F7F7F7;
   }
}

.contact {
   &--container-top {
      display: flex;
      justify-content: center;
   }
}


.footer--container {
   margin-top: 5rem;
   background-color: $gray-200;
   h4, p {
      color: $gray-700;
   }

   .copyright {
      background: $gray-700;
      p,a {
         margin-top: 25px;
         margin-bottom: 25px;
         color: #FFF;
      }
   }
}

.container {
   &--top {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 250px;

      h1 {
         color: #FFF;
      }
   }
}

.details {
   &--container {
      margin-bottom: 20px;

      &-stars {
         letter-spacing: 5px;
         font-size: 22px;
         color: #F5B433;
         @media all and (min-width: 992px) {
            letter-spacing: 0;
         }
      }

      p {
         margin: 0;
      }
   }
}

.searchBar {
   &--box {
      margin-top: -30rem;
      @media all and (min-width: 992px) {
         margin-top: -25rem;
      }

      &-title {
         z-index: 20;

         h1 {
            font-size: 2.6rem;
            @media all and (min-width: 992px) {
               font-size: 3.815rem;
            }
         }
      }

      &-container {
         border-radius: 15px;
         margin-top: 4rem;
         z-index: 20;
         background: #FFF;
         @media all and (min-width: 768px) {
            border-radius: 50px;
         }

         .form-group {
            &:after {
               display: block;
               width: calc(100% - 4rem);
               height: 1px;
               content: '';
               background: #DDD;
               position: absolute;
               top: auto;
               right: auto;
               bottom: 0;
               left: 50%;
               -webkit-transform: translateX(-50%);
               transform: translateX(-50%);
               @media all and (min-width: 768px) {
                  width: 1px;
                  height: 60%;
                  top: 20%;
                  left: 100%;
                  transform: unset;
               }
            }

            &.no-divider {
               &:after {
                  display: none;
               }
            }
         }
      }

      &-map {
         z-index: 1;
         padding: 0;
         margin-top: -.5rem;
         @media all and (min-width: 768px) {
            margin-top: 8rem;
         }

         #map {
            display: flex;
            border-radius: 15px;
            height: 700px;
         }
      }
   }
}

.card-icon-text {
   display: flex;
   margin-bottom: 15px;
   i {
      display: flex;
      justify-content: center;
      width: 1rem;
      height: 1rem;
   }
   p {
      margin-top: -3px;
      margin-bottom: 0;
   }
}

.form-password {
   border-top-left-radius: 0 !important;
   border-bottom-left-radius: 0 !important;
}

.dashboard {
   &--option {
      &:after {
         position: absolute;
         transition: .3s;
         content: '';
         width: 0;
         bottom: 0;
         background: $primary;
         height: 100%;
         left: 25%;
         border-top-right-radius: $btn-pill-border-radius;
         border-bottom-right-radius: $btn-pill-border-radius;
      }
      &:hover {
         h5 {
            color: $white;
            z-index: 55;
         }
         &:after {
            left: 21%;
            width: 79%;
         }
      }
   }
}


.sticky {
   @media all and (min-width: 768px) {
      position: -webkit-sticky;
      position: sticky;
      top: 5%;
      overflow-y: scroll;
      height: 6%;
      display: inline-block;
   }
   @media all and (min-width: 1024px) {
      height: 10%;
   }
}




