// Shards variables

//
// Color system
//

// stylelint-disable
$white:  #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: $gray-800 !default;

$grays: () !default;
$grays: map-merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

$blue:    #4E66F8 !default;
$indigo:  #674eec !default;
$purple:  #8445f7 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #ffc107 !default;
$yellow:  #ffb400 !default;
$green:   #28a745 !default;
$teal:    #1adba2 !default;
$cyan:    #17a2b8 !default;

// Shards Specific
$blueish-grey: #5A6169 !default;

$colors: () !default;
$colors: map-merge((
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
), $colors);

$primary:       $blue !default;
$secondary:     $blueish-grey !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $gray-900 !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
), $theme-colors);
// stylelint-enable

// Set a specific jump point for requesting color jumps
$theme-color-interval: 8% !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: $gray-900 !default;
$yiq-text-light: $white !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded:            true !default;
$enable-shadows:            true !default;
$enable-gradients:          false !default; // Not supported by Shards.
$enable-transitions:        true !default;
$enable-hover-media-query:  false !default; // Deprecated, no longer affects any compiled CSS
$enable-fonts-import:       true !default;


// Forms

$border-color: #ced4da !default;
$input-frozen-color: #abb6bf !default;

// Spacing

$spacer: 1.5rem !default; // ~ 24px


// Body

$body-bg:       $white !default;
$body-color:    $blueish-grey !default;


// Links

$link-color:            theme-color("primary") !default;
$link-decoration:       none !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;


// Grid breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");


// Components

$line-height-lg:         1.5 !default;
$line-height-sm:         1.5 !default;

$border-width: 2px !default;

$border-radius:          .375rem !default;
$border-radius-lg:       .5rem !default;
$border-radius-sm:       .35rem !default;

$component-active-color: $white !default;
$component-active-bg:    theme-color("primary") !default;


// Easings
$ease-in-out-circ: cubic-bezier(.27,.01,.38,1.06);


// Transitions
$transition-duration:     250ms;
$transition-base:         all $transition-duration $ease-in-out-circ !default;
$transition-fade:         opacity 200ms ease-in-out !default;
$transition-collapse:     height 350ms ease-in-out !default;


// Fonts

@font-face {
   font-family: 'Poppins';
   src: url('../webfonts/poppins/Poppins-Regular.ttf'),
   url('../webfonts/poppins/Poppins-SemiBold.ttf'),
   url('../webfonts/poppins/Poppins-Bold.ttf'),
   url('../webfonts/poppins/Poppins-Medium.ttf');
}

$font-family-poppins-first: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;

$font-family-sans-serif: $font-family-poppins-first !default;
$font-family-monospace:  $font-family-poppins-first !default;
$font-family-base:       $font-family-sans-serif !default;

$font-size-base: 1rem !default;
$font-size-lg:   1.25rem !default;
$font-size-sm:   .875rem !default;

$font-weight-normal: 300 !default;
$font-weight-bold: 700 !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$h1-font-size: 3.052rem !default;
$h2-font-size: 2.441rem !default;
$h3-font-size: 1.953rem !default;
$h4-font-size: 1.563rem !default;
$h5-font-size: 1.25rem !default;
$h6-font-size: 1rem !default;

$headings-margin-bottom: .75rem !default;

$headings-font-family:   $font-family-poppins-first !default;
$headings-font-weight:   400 !default;
$headings-color:         $gray-900 !default;
$headings-letter-spacing: -.0625rem !default; // ~1px

$h1-line-height: 3rem !default;
$h2-line-height: 2.25rem !default;
$h3-line-height: 2.25rem !default;
$h4-line-height: 2rem !default;
$h5-line-height: 1.5rem !default;
$h6-line-height: 1.5rem !default;

$display1-size: 7.451rem !default;
$display2-size: 5.96rem !default;
$display3-size: 4.768rem !default;
$display4-size: 3.815rem !default;

$display-line-height: 1 !default;
$display-margin-bottom: 0.75rem !default;

$paragraphs-margin-bottom: 1.75rem !default;

$lead-line-height: 1.875rem !default;

$small-font-size: 80% !default;

$text-muted: $gray-600 !default;

$blockquote-font-size:    1.5rem !default;
$blockquote-footer-font-size: 1.125rem !default;
$blockquote-margin-bottom: 0.75rem !default;

$hr-border-color: rgba($black,.1) !default;
$hr-border-width: $border-width !default;
$hr-margin-y: 1.125rem !default;

$mark-padding: .2em !default;
$mark-bg: #fff09e !default;


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-bg:                      transparent !default;
$table-active-bg:               rgba($black, .075) !default;

$table-cell-padding:            .75rem !default;
$table-cell-padding-sm:         .3rem !default;

$table-dark-color:        $body-bg !default;
$table-dark-bg:           $gray-900 !default;
$table-dark-border-color: lighten($gray-900, 7.5%) !default;
$table-dark-accent-bg:    rgba($white, .05) !default;
$table-dark-hover-bg:     rgba($white, .075) !default;

$table-head-color:      $gray-700 !default;
$table-head-bg:         $gray-200 !default;
$table-border-color:    $gray-300 !default;


// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$btn-padding-y-lg: .75rem !default;
$btn-padding-x-lg: 1.75rem !default;

$btn-line-height-sm: $line-height-sm !default;
$btn-line-height-lg: $line-height-lg !default;

$btn-padding-y-sm: .35rem !default;
$btn-padding-x-sm: 1rem !default;

$input-btn-padding-y:       .5rem !default;
$input-btn-padding-x:       1rem !default;
$input-btn-line-height:     1.125 !default;

$input-btn-padding-y-sm:    .35rem !default;
$input-btn-padding-x-sm:    .75rem !default;

$input-btn-padding-y-lg:    .75rem !default;
$input-btn-padding-x-lg:    1rem !default;

$btn-pill-border-radius: 50px !default;

$btn-padding-y:       .75rem !default;
$btn-padding-x:       1.25rem !default;

$btn-font-weight:                 $font-weight-normal !default;
$btn-font-size:                   .875rem !default;
$btn-font-size-sm:                0.75rem !default;
$btn-font-size-lg:                1.125rem !default;
$btn-font-family:                 $font-family-poppins-first !default;
$btn-box-shadow:                  none !default;

$input-btn-focus-width:           .2rem !default;

$btn-active-box-shadow:           inset 0 3px 5px rgba($black,.125) !default;

$btn-link-disabled-color:        $gray-600 !default;
$btn-block-spacing-y:            .5rem !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:              $border-radius !default;
$btn-border-radius-lg:           $border-radius-lg !default;
$btn-border-radius-sm:           $border-radius-sm !default;

$btn-border-width: 1px !default;

$btn-transition:                 $transition-base !default;

// Forms

$input-padding-y:                $input-btn-padding-y !default;
$input-padding-x:                $input-btn-padding-x !default;
$input-line-height:              1.5 !default;

$input-padding-y-sm:             $input-btn-padding-y-sm !default;
$input-padding-x-sm:             $input-btn-padding-x-sm !default;
$input-line-height-sm:           1.5 !default;

$input-padding-y-lg:             $input-btn-padding-y-lg !default;
$input-padding-x-lg:             $input-btn-padding-x-lg !default;
$input-line-height-lg:           1.5 !default;

$input-bg:                       $white !default;
$input-disabled-bg:              #f5f6f7 !default;

$input-font-size:                .95rem !default;

$input-color:                    $gray-700 !default;
$input-border-color:             $border-color !default;
$input-btn-border-width:         $border-width !default;
$input-box-shadow:               none !default;

$input-border-width:             $border-width !default;
$input-border-radius:            $border-radius !default;
$input-border-radius-lg:         $border-radius-lg !default;
$input-border-radius-sm:         $border-radius-sm !default;

$input-focus-bg:                 $input-bg !default;
$input-focus-border-color:       theme-color("primary") !default;
$input-focus-box-shadow:         0 .313rem .719rem rgba(theme-color("primary"),.1), 0 .156rem .125rem rgba($black, .06) !default;
$input-focus-color:              $input-color !default;

$input-hover-border-color:      darken($input-border-color, 15) !default;

$input-placeholder-color:        $gray-600 !default;

$input-height-border:           $input-border-width * 2 !default;

$input-height-inner:            ($input-font-size * $input-line-height) + ($input-padding-y * 2) !default;
$input-height:                  calc(#{$input-height-inner} + #{$input-height-border}) !default;

$input-height-inner-sm:         ($font-size-sm * $input-line-height-sm) + ($input-padding-y-sm * 2) !default;
$input-height-sm:               calc(#{$input-height-inner-sm} + #{$input-height-border}) !default;

$input-height-inner-lg:         ($font-size-lg * $input-line-height-lg) + ($input-padding-y-lg * 2) !default;
$input-height-lg:               calc(#{$input-height-inner-lg} + #{$input-height-border}) !default;

$input-transition:              box-shadow $transition-duration $ease-in-out-circ,
                                border $transition-duration $ease-in-out-circ !default;

$form-text-margin-top:     .25rem !default;

$form-check-input-gutter:   1.25rem !default;
$form-check-input-margin-y: .313rem !default;
$form-check-input-margin-x: .313rem !default;

$form-check-inline-margin-x: .75rem !default;
$form-check-inline-input-margin-x: .3125rem !default;

$form-group-margin-bottom:       1rem !default;

$input-group-padding-y:          12px !default;
$input-group-padding-x:          14px !default;
$input-group-addon-bg:           lighten($input-border-color, 19%) !default;
$input-group-addon-border-color: $input-border-color !default;
$input-group-addon-color:        $input-frozen-color !default;

$custom-control-gutter:   1.688rem !default;
$custom-control-spacer-x: 1rem !default;

$custom-control-indicator-size:       1.125rem !default;
$custom-control-indicator-bg:         $white !default;
$custom-control-indicator-bg-size:    50% 50% !default;
$custom-control-indicator-box-shadow: none !default;
$custom-control-indicator-border: $border-width solid $border-color !default;
$custom-checkbox-indicator-transition: transform $transition-duration $ease-in-out-circ,
                                       border $transition-duration $ease-in-out-circ !default;

$custom-control-indicator-disabled-bg:       $gray-200 !default;
$custom-control-description-disabled-color:  $gray-600 !default;

$custom-control-indicator-checked-color:      $white !default;
$custom-control-indicator-checked-bg:         theme-color("primary") !default;
$custom-control-indicator-checked-box-shadow: none !default;

$custom-control-indicator-focus-box-shadow: $input-focus-box-shadow !default;

$custom-control-indicator-active-color:      $white !default;
$custom-control-indicator-active-bg:         lighten(theme-color("primary"), 35%) !default;
$custom-control-indicator-active-box-shadow: none !default;

// Custom checkbox
$custom-checkbox-indicator-border-radius: 2px !default;
$custom-checkbox-indicator-icon-checked: none !default;
$custom-checkbox-indicator-indeterminate-bg: theme-color("primary") !default;
$custom-checkbox-indicator-indeterminate-color: $custom-control-indicator-checked-color !default;
$custom-checkbox-indicator-icon-indeterminate: none !default;
$custom-checkbox-indicator-indeterminate-box-shadow: none !default;

// Custom radio
$custom-radio-indicator-border-radius: 50% !default;

// Custom select
$custom-select-padding-y:          .375rem !default;
$custom-select-padding-x:          .75rem  !default;
$custom-select-height:              $input-height  !default; // OK
$custom-select-indicator-padding:   1rem !default; // Extra padding to account for the presence of the background-image based indicator
$custom-select-line-height:         1.2 !default;
$custom-select-color:               $input-color !default;
$custom-select-disabled-color:      $gray-600 !default;
$custom-select-bg:            $white !default;
$custom-select-disabled-bg:   $gray-200 !default;
$custom-select-bg-size:       8px 10px !default; // In pixels because image dimensions
$custom-select-indicator-color: #333 !default;
$custom-select-indicator:     str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='#{$custom-select-indicator-color}' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E"), "#", "%23") !default;
$custom-select-border-width:  $input-btn-border-width !default;
$custom-select-border-color:  $input-border-color !default;
$custom-select-border-radius: $border-radius !default;

$custom-select-focus-border-color:       $input-focus-border-color !default;
$custom-select-focus-box-shadow:         0 .313rem .719rem rgba(theme-color("primary"),.1), 0 .156rem .125rem rgba($black, .06) !default;

$custom-select-font-size-sm:  0.75rem !default;
$custom-select-height-sm: $input-height-sm !default;

$custom-select-height-lg: $input-height-lg !default;
$custom-select-font-size-lg: 1.25rem !default;

$custom-file-height:           calc(2.428rem + 2px) !default;
$custom-file-width:            14rem !default;
$custom-file-focus-box-shadow: $input-focus-box-shadow !default;
$custom-file-focus-border-color: $input-focus-border-color !default;

$custom-file-padding-y:     1rem !default;
$custom-file-padding-x:     .5rem !default;
$custom-file-line-height:   1.5 !default;
$custom-file-color:         $gray-700 !default;
$custom-file-bg:            $white !default;
$custom-file-border-width:  $border-width !default;
$custom-file-border-color:  $input-border-color !default;
$custom-file-border-radius: $border-radius !default;
$custom-file-box-shadow:    none !default;
$custom-file-button-color:  $custom-file-color !default;
$custom-file-button-bg:     $gray-200 !default;
$custom-file-text: (
  en: "Browse",
  fr: "Parcourir"
) !default;

// Form validation
$form-feedback-margin-top:          $form-text-margin-top !default;
$form-feedback-font-size:           $small-font-size !default;
$form-feedback-valid-color:         theme-color("success") !default;
$form-feedback-invalid-color:       theme-color("danger") !default;

// Custom toggle
$custom-toggle-width: 3.125rem !default;
$custom-toggle-height: 1.75rem !default;
$custom-toggle-border-width: 0.0625rem !default;
$custom-toggle-border: $custom-toggle-border-width solid $input-border-color !default;
$custom-toggle-background-color: $white !default;
$custom-toggle-border-radius: 100px !default;

$custom-toggle-focus-box-shadow: 0 .313rem .719rem rgba(theme-color("success"),.1), 0 .156rem .125rem rgba($black, .06) !default;

$custom-toggle-checked-background: theme-color("success") !default;
$custom-toggle-checked-border-color: $custom-toggle-checked-background !default;
$custom-toggle-checked-knob-background: $white !default;

$custom-toggle-knob-width: 1.25rem !default;
$custom-toggle-knob-height: 1.25rem !default;
$custom-toggle-knob-border-radius: 6.25rem !default;
$custom-toggle-knob-active-width: 1.625rem !default;

$custom-toggle-invalid-knob-background-color: #eb8c95 !default;
$custom-toggle-invalid-background-color: $white !default;

$custom-toggle-width-sm : 2.1875rem !default;
$custom-toggle-height-sm : 1.125rem !default;

$custom-toggle-knob-width-sm: .75rem !default;
$custom-toggle-knob-active-width-sm: 1rem !default;
$custom-toggle-knob-height-sm: .75rem !default;


// Form validation
$form-feedback-valid-color:   theme-color("success") !default;
$form-feedback-invalid-color: theme-color("danger") !default;


// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-bg:                    $white !default;
$dropdown-min-width:             10rem !default;
$dropdown-padding-y:             .5rem !default;
$dropdown-spacer:                0 !default;
$dropdown-border-color:          rgba($black,.05) !default;
$dropdown-border-width:          $border-width !default;
$dropdown-divider-bg:            $gray-200 !default;
$dropdown-border-radius:         $border-radius !default;

$dropdown-box-shadow: 0 0.5rem 4rem rgba(0, 0, 0, 0.11), 0 10px 20px rgba(0, 0, 0, 0.05), 0 2px 3px rgba(0, 0, 0, 0.06) !default;

$dropdown-link-color:            $gray-900 !default;
$dropdown-link-hover-color:      darken($gray-900, 5%) !default;
$dropdown-link-hover-bg:         lighten($blueish-grey, 55%) !default;
$dropdown-link-active-color:     $component-active-color !default;
$dropdown-link-active-bg:        lighten($blueish-grey, 40%) !default;
$dropdown-link-disabled-color:   $gray-600 !default;

$dropdown-item-padding-y:        .5rem !default;
$dropdown-item-padding-x:        1.25rem !default;
$dropdown-item-font-size:        .9375rem !default;
$dropdown-item-transition:       background-color $transition-duration $ease-in-out-circ, color $transition-duration $ease-in-out-circ !default;

$dropdown-header-color:          $gray-600 !default;

// Small dropdowns
$dropdown-small-padding-y: .25rem !default;
$dropdown-small-font-size: 0.813rem !default;
$dropdown-small-box-shadow: 0 0.5rem 2rem rgba(0,0,0,.11), 0 3px 10px rgba(0,0,0,.05), 0 2px 3px rgba(0,0,0,.06) !default;

$dropdown-small-item-padding-y: 0.375rem !default;
$dropdown-small-item-padding-x: 0.875rem !default;

$dropdown-small-item-font-size: 0.813rem !default;

$dropdown-small-divider-margin-x: 0 !default;
$dropdown-small-divider-margin-y: 0.25rem !default;


// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-dropdown:           1000 !default;
$zindex-sticky:             1020 !default;
$zindex-fixed:              1030 !default;
$zindex-modal-backdrop:     1040 !default;
$zindex-modal:              1050 !default;
$zindex-popover:            1060 !default;
$zindex-tooltip:            1070 !default;

// Navs

$nav-transition:                 $transition-base !default;
$nav-font-family:                $font-family-poppins-first !default;

$nav-link-padding-y:            .625rem !default;
$nav-link-padding-x:            1.125rem !default;
$nav-link-disabled-color:       $gray-600 !default;

$nav-tabs-border-color:                       lighten($blueish-grey, 45%) !default;
$nav-tabs-border-width:                       $border-width !default;
$nav-tabs-border-radius:                      $border-radius !default;
$nav-tabs-link-hover-border-color:            $gray-200 !default;
$nav-tabs-link-active-color:                  $gray-700 !default;
$nav-tabs-link-active-bg:                     $body-bg !default;
$nav-tabs-link-active-border-color:           #ddd !default;

$nav-pills-border-radius:    $border-radius !default;
$nav-pills-link-active-color: $component-active-color !default;
$nav-pills-link-active-bg:    $component-active-bg !default;

// Navbar nav
$navbar-nav-link-padding-x: .625rem !default;

// Navbar

$navbar-padding-y:                  ($spacer / 2) !default;
$navbar-padding-x:                  $spacer !default;

$navbar-brand-font-size:            1rem !default;

// Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link
$nav-link-height:                   $navbar-brand-font-size * $line-height-base !default;
$navbar-brand-height:               ($font-size-base * $line-height-base + $nav-link-padding-y * 2) !default;
$navbar-brand-padding-y:            ($navbar-brand-height - $nav-link-height) / 2 !default;

$navbar-font-family:                $font-family-poppins-first !default;
$navbar-toggler-padding-y:           .5rem !default;
$navbar-toggler-padding-x:           .5rem !default;
$navbar-toggler-font-size:           1rem !default;
$navbar-toggler-border-radius:       $btn-border-radius !default;

$navbar-dark-color:                 rgba($white,.5) !default;
$navbar-dark-hover-color:           rgba($white,.75) !default;
$navbar-dark-active-color:          rgba($white,1) !default;
$navbar-dark-disabled-color:        rgba($white,.25) !default;
$navbar-dark-toggler-icon-bg:       str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-dark-toggler-border-color:  rgba($white,.1) !default;

$navbar-light-color:                rgba($black,.5) !default;
$navbar-light-hover-color:          rgba($black,.7) !default;
$navbar-light-active-color:         rgba($black,.9) !default;
$navbar-light-disabled-color:       rgba($black,.3) !default;
$navbar-light-toggler-icon-bg:      str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-light-toggler-border-color: rgba($black,.1) !default;

// Pagination

$pagination-padding-y:                .5rem !default;
$pagination-padding-x:                .75rem !default;
$pagination-padding-y-sm:             .25rem !default;
$pagination-padding-x-sm:             .6875rem !default;
$pagination-padding-y-lg:             .9375rem !default;
$pagination-padding-x-lg:             1.5625rem !default;
$pagination-line-height:              1.25 !default;
$pagination-font-family:              $font-family-poppins-first !default;
$pagination-font-size:                .875rem !default;
$pagination-box-shadow:               0 .125rem .9375rem rgba($blueish-grey, 0.1), 0 .125rem .1875rem rgba($blueish-grey, 0.15) !default;

$pagination-color:                     $link-color !default;
$pagination-bg:                        $white !default;

$pagination-hover-color:               $link-hover-color !default;
$pagination-hover-bg:                  lighten($blueish-grey, 58%) !default;
$pagination-hover-border-color:        lighten($blueish-grey, 50%) !default;

$pagination-active-color:              $white !default;
$pagination-active-bg:                 theme-color("primary") !default;
$pagination-active-border-color:       theme-color("primary") !default;

$pagination-disabled-color:            lighten($blueish-grey, 30%) !default;
$pagination-disabled-bg:               $white !default;
$pagination-disabled-border-color:     lighten($blueish-grey, 50%) !default;


// Jumbotron

$jumbotron-padding-x:            42px !default;
$jumbotron-padding-y:            38px !default;
$jumbotron-padding:              2rem !default;
$jumbotron-bg:                   lighten($blueish-grey, 55%) !default;


// Cards

$card-spacer-y:                 2.1875rem !default;
$card-spacer-x:                 1.875rem !default;

$card-header-spacer-x:          $card-spacer-x !default;
$card-header-spacer-y:          ($card-spacer-y / 2) !default;

$card-footer-spacer-x:          $card-spacer-x !default;
$card-footer-spacer-y:          ($card-spacer-y / 2) !default;

$card-border-radius:            0.625rem !default;
$card-inner-border-radius:      $card-border-radius !default;

$card-cap-bg:                   rgba($blueish-grey, .06) !default;
$card-bg:                       $white !default;

$card-title-font-weight:        500 !default;
$card-title-margin-bottom:      .75rem !default;

$card-link-font-family:         $font-family-poppins-first !default;

$card-paragraph-margin-bottom:  1.5625rem !default;

$card-box-shadow:               0 .46875rem 2.1875rem rgba($blueish-grey, .1),
                                0 .9375rem 1.40625rem rgba($blueish-grey, .1),
                                0 .25rem .53125rem rgba($blueish-grey, .12),
                                0 .125rem .1875rem rgba($blueish-grey, .1);

$card-img-overlay-padding:      1.875rem 2.1875rem !default;
$card-deck-margin:              .9375rem !default;

$card-list-group-item-padding:  .8125rem 1.875rem !default;
$card-group-card-border:        1px solid lighten($blueish-grey, 53%) !default;

$card-columns-count:            3 !default;
$card-columns-gap:              1.25rem !default;
$card-columns-margin:           $card-spacer-y !default;

$card-small-spacer-y:           1rem !default;
$card-small-spacer-x:           1rem !default;
$card-small-box-shadow:         0 2px 0 rgba($blueish-grey, 0.11),
                                0 4px 8px rgba($blueish-grey, 0.12),
                                0 10px 10px rgba($blueish-grey, 0.06),
                                0 7px 70px rgba($blueish-grey, 0.1) !default;

// Tooltips

$tooltip-max-width:           200px !default;
$tooltip-color:               $blueish-grey !default;
$tooltip-bg:                  $white !default;
$tooltip-opacity:             1 !default;
$tooltip-padding-y:           7px !default;
$tooltip-padding-x:           13px !default;
$tooltip-margin:              0 !default;
$tooltip-font-size:           $font-size-sm !default;
$tooltip-box-shadow:          0 3px 15px rgba($blueish-grey, 0.1),
                              0 2px 3px rgba($blueish-grey, 0.2);

$tooltip-arrow-width:         5px !default;
$tooltip-arrow-height:        5px !default;
$tooltip-arrow-color:         $tooltip-bg !default;


// Popovers

$popover-inner-padding:               0 !default;
$popover-bg:                          $white !default;
$popover-max-width:                   276px !default;
$popover-border-radius:               $border-radius-lg !default;
$popover-border-width:                $border-width !default;
$popover-border-color:                transparent !default;
$popover-font-size:                   $font-size-sm !default;
$popover-box-shadow:                  0 3px 15px rgba($blueish-grey, 0.1),
                                      0 2px 3px rgba($blueish-grey, 0.2);

$popover-header-bg:                    lighten($blueish-grey, 58%) !default;
$popover-header-color:                 $headings-color !default;
$popover-header-padding-y:             14px !default;
$popover-header-padding-x:             20px !default;
$popover-header-line-height:           14px !default;

$popover-body-color:               $body-color !default;
$popover-body-padding-y:           15px !default;
$popover-body-padding-x:           20px !default;

$popover-arrow-width:                 10px !default;
$popover-arrow-height:                5px !default;
$popover-arrow-color:                 $popover-bg !default;

$popover-arrow-outer-width:           $popover-arrow-width + 1px !default;
$popover-arrow-outer-color:           fade-in($popover-border-color, .05) !default;


// Badges

$badge-color:                 $white !default;
$badge-font-size:             75% !default;
$badge-font-weight:           $font-weight-bold !default;
$badge-padding-y:             .375rem !default;
$badge-padding-x:             .5rem !default;
$badge-font-family:           $font-family-sans-serif !default;
$badge-pill-border-radius:    10rem !default;
$badge-border-radius:         .375rem !default;
$badge-pill-padding-x:        $badge-padding-x !default;

// Modals

// Padding applied to the modal body
$modal-inner-padding:         1.875rem 2.1875rem !default;
$modal-footer-padding:        .9375rem 2.1875rem !default;

$modal-dialog-margin:         .625rem !default;
$modal-dialog-margin-y-sm-up: 1.875rem !default;

$modal-title-line-height:     $line-height-base !default;

$modal-content-bg:               $white !default;
$modal-content-border-width:     $border-width !default;
$modal-content-box-shadow:       $card-box-shadow !default;

$modal-backdrop-bg:           $blueish-grey !default;
$modal-backdrop-opacity:      .12 !default;
$modal-header-border-color:   lighten($blueish-grey, 50%) !default;
$modal-footer-border-color:   lighten($blueish-grey, 50%) !default;
$modal-header-border-width:   $modal-content-border-width !default;
$modal-footer-border-width:   $modal-header-border-width !default;

$modal-header-padding:        .9375rem 2.1875rem !default;

$modal-lg:                    800px !default;
$modal-md:                    500px !default;
$modal-sm:                    300px !default;

$modal-transition:            transform .3s ease-out !default;


// Alerts

$alert-padding-y:             .75rem !default;
$alert-padding-x:             1.25rem !default;
$alert-margin-bottom:         1rem !default;
$alert-border-radius:         0 !default;
$alert-link-font-weight:      $font-weight-bold !default;


// Progress bars

$progress-height:               .625rem !default;
$progress-font-size:            .625rem !default;
$progress-bg:                   lighten($blueish-grey, 58%) !default;
$progress-border-radius:        1.25rem !default;
$progress-box-shadow:           inset 0 .1rem .1rem rgba($blueish-grey, .15) !default;
$progress-bar-color:            $white !default;
$progress-bar-bg:               theme-color("primary") !default;
$progress-bar-animation-timing: 1s linear infinite !default;
$progress-bar-transition:       width .6s ease !default;
$progress-label-font-size:      .8125rem !default;
$progress-sm-height:            .3125rem !default;
$progress-lg-height:            .9375rem !default;

// List group

$list-group-bg:                  $white !default;
$list-group-border-color:        rgba($black,.125) !default;
$list-group-border-width:        $border-width !default;
$list-group-border-radius:       $border-radius !default;
$list-group-transition:          $transition-base !default;

$list-group-item-padding-y:         .75rem !default;
$list-group-item-padding-x:         1.25rem !default;
$list-group-sm-item-padding-y:      0.625rem !default;
$list-group-sm-item-padding-x:      1rem !default;

$list-group-sm-item-font-size:      0.8125rem !default;

$list-group-hover-bg:                 lighten($blueish-grey, 59%) !default;
$list-group-active-color:             $component-active-color !default;
$list-group-active-bg:                $component-active-bg !default;
$list-group-active-border-color:      $list-group-active-bg !default;

$list-group-disabled-color:      $gray-600 !default;
$list-group-disabled-bg:         $list-group-bg !default;

$list-group-action-color:             $blueish-grey !default;
$list-group-action-hover-color:       $list-group-action-color !default;

$list-group-action-active-color:      $body-color !default;
$list-group-action-active-bg:         lighten($blueish-grey, 55%) !default;


// Image thumbnails
$thumbnail-bg:                $body-bg !default;
$thumbnail-border:            none !default;
$thumbnail-padding:           0 !default;
$thumbnail-border-radius:     $border-radius !default;
$thumbnail-box-shadow:        none !default;


// Figures

$figure-caption-font-size: 1rem !default;
$figure-caption-color:     $gray-600 !default;


// Carousel

$carousel-control-color:                      $white !default;
$carousel-control-width:                      15% !default;
$carousel-control-opacity:                    .5 !default;

$carousel-indicator-width:                    30px !default;
$carousel-indicator-height:                   3px !default;
$carousel-indicator-spacer:                   3px !default;
$carousel-indicator-active-bg:                $white !default;
$carousel-indicator-border-radius:            3px !default;

$carousel-caption-width:                      70% !default;
$carousel-caption-color:                      $white !default;

$carousel-control-icon-width:                 20px !default;

$carousel-control-prev-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"), "#", "%23") !default;
$carousel-control-next-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"), "#", "%23") !default;

$carousel-transition:           transform .6s ease !default;


// Close
$close-font-size:             $font-size-base * 1.5 !default;
$close-font-weight:           $font-weight-bold !default;
$close-color:                 lighten($blueish-grey, 20%) !default;
$close-text-shadow:           none !default;

// Code
$code-font-size:              .75rem !default;
$code-line-height:            1.375rem !default;
$code-padding-y:              .1875rem !default;
$code-padding-x:              .8125rem !default;

$kbd-font-size:               .75rem !default;
$kbd-border-radius:           .625rem !default;
$kbd-box-shadow:              none !default;
$kbd-padding-y:               $code-padding-y !default;
$kbd-padding-x:               $code-padding-x !default;
$kbd-color:                   $white !default;
$kbd-bg:                      $gray-900 !default;

$nested-kbd-font-weight:      $font-weight-bold !default;

$pre-color:                   $gray-900 !default;
$pre-scrollable-max-height:   340px !default;

// Slider control (nouislider)
$slider-base-size:                5px !default;
$slider-base-box-shadow:          inset 0 1px 2px rgba($blueish-grey,.1) !default;
$slider-base-border-radius:       5px !default;
$slider-base-background:          lighten($blueish-grey, 55%) !default;
$slider-base-margin-top:          35px !default;

$slider-connect-color:            theme-color("primary") !default;
$slider-pips-color:               lighten($blueish-grey, 30%) !default;

$slider-tooltip-padding:          5px 10px !default;
$slider-tooltip-font-size:        .75rem !default;
$slider-tooltip-background:       $white !default;
$slider-tooltip-border-radius:    $border-radius !default;
$slider-tooltip-color:            $blueish-grey !default;
$slider-tooltip-border-radius:    5px !default;
$slider-tooltip-box-shadow:       0 3px 15px rgba($blueish-grey, 0.1),
                                  0 2px 3px rgba($blueish-grey, 0.2);

$slider-handle-transition:        $transition-base !default;
$slider-handle-border:            1px solid lighten($blueish-grey, 53%) !default;
$slider-handle-background:        $white !default;
$slider-handle-disabled-background: lighten($blueish-grey, 57%) !default;
$slider-handle-border-radius:     50% !default;
$slider-handle-width:             23px !default;
$slider-handle-height:            23px !default;

$slider-handle-box-shadow:        0 3px 15px rgba($blueish-grey, 0.1),
                                  0 2px 3px rgba($blueish-grey, 0.2) !default;

$slider-handle-focus-box-shadow:  0 0 8px rgba(theme-color("primary"), .65),
                                  0 3px 15px rgba($blueish-grey, 0.1),
                                  0 2px 3px rgba($blueish-grey, 0.2) !default;


// Datepicker

$datepicker-border-radius: $card-border-radius !default;
$datepicker-dropdown-padding: 20px 22px !default;

$datepicker-cell-transition: $transition-base !default;
$datepicker-cell-hover-background: lighten($blueish-grey, 55%) !default;
$datepicker-cell-border-radius: 50% !default;
$datepicker-cell-width: 36px !default;
$datepicker-cell-height: 36px !default;

$datepicker-disabled-cell-color: lighten($blueish-grey, 53%) !default;
$datepicker-disabled-old-new-color: lighten($blueish-grey, 40%) !default;

$datepicker-header-cell-border-radius: $border-radius !default;

$datepicker-active-color: $white !default;
$datepicker-active-background: theme-color("primary") !default;

$datepicker-range-background: theme-color("primary") !default;
$datepicker-range-cell-focused-background: darken($datepicker-range-background, 5%) !default;
$datepicker-range-color: $white !default;
$datepicker-range-highlighted-bg: $gray-200 !default;

$datepicker-dropdown-border: lighten($blueish-grey, 40%) !default;
$datepicker-dropdown-bg: $white !default;
$datepicker-highlighted-bg: $datepicker-active-background !default;


// Bootstrap select

$color-red-error: rgb(185, 74, 72) !default;
$color-green-success: #28a745;
$color-grey-arrow: rgba(204, 204, 204, 0.2) !default;

$width-default: 100% !default; // 3 960px-grid columns

$zindex-select-dropdown: 1060 !default; // must be higher than a modal background (1050)

//** Placeholder text color
$input-color-placeholder: #999 !default;
$input-alt-color-placeholder: rgba(255, 255, 255, 0.5) !default;

$input-padding-y-sm: .25rem !default;
$input-padding-x-sm: .5rem !default;

$input-padding-y-lg: 0.5rem !default;
$input-padding-x-lg: 1rem !default;
